@use './variables' as *;
@use './components';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  @include font(18px, 21px);
  color: $text-color;
  background-color: $body-bg-color;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
